body {
    margin: 0;
    height: 100vh;
}

canvas {
    display: block;
}

#start-modal {
    display: flex;
    background-color: transparent;
    flex-direction: row;
}

.bg-wallpaper {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.modal {
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: none;
}

.modal  h1 {
    color: #ff6ec7;
    font-family: 'Teko', sans-serif;
    font-weight: 700;
    font-size: 128px;
    font-style: italic;
}

.modal button {
    background-color: #45ff14;
    border-radius: 0;
    border-style: none;
    padding: 15px;
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 32px;
}

.modal button:hover {
    background-color: #80ff00;
    cursor: pointer;
}

.center-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left-menu {
    font-family: 'Teko', sans-serif;
    width: 25%;
    border: white solid 1px;
    background-color: rgba(0,0,0, 0.5);
    color: white;
    font-size: 24px;
    border-radius: 1rem;
    text-align: center;
    height: 60%;
    overflow: scroll;
}

.left-menu h2{
    font-size: 1.5em;
}

.left-menu h3 {
    cursor: pointer;
}

.left-menu h3:hover {
    color: #ff6ec7;
}

.right-menu {
    font-family: 'Teko', sans-serif;
    font-size: 24px;
    min-width: 25%;
    color: white;
    border: white solid 1px;
    background-color: rgba(0,0,0, 0.5);
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 10px;
}

.control-line {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.right-menu h2 {
    font-size: 1.5em;
}
.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.menu {
    display: flex;
    justify-content: space-around;
    height: 50%;
    align-items: center;
}

.right-menu img {
    width: 100%;
}

#timer {
    display: block;
    position: absolute;
    top: 0;
    left: 45%;
    font-family: 'Teko', sans-serif;
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.key-symbol {
    min-width: 30px;
    height: 30px;
    border: white solid 1px;
    display: inline-flex;
    padding: 2px;
    border-radius: 4px;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 2em;
}

a:visited {
    text-decoration: none;
    color: white;
}
